/* todo Start Css Varibals Rauls */
:root {
    --main-color: #e4b95b;
    --main-padding: 80px;
    --main-transation: 0.3s;
    --main-background-section: #f4f2ed;
}

/* todo End Css Varibals Rauls */
/* todo Start Global Rauls */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* todo Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* todo Maduim Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* todo Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-heading {
    text-align: center;
    margin-bottom: 80px;

}

.global-heading h2 {
    font-size: 40px;
    margin: 0;
}

.global-heading p {
    color: #9a9a9a;
}

@media (max-width:767px) {
    .global-heading h2 {
        font-size: 31px;
    }
}

/* todo End Global Rauls */
/* todo Start Header Section*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {
    header .container {
        justify-content: center;
    }

}

header .container .logo {
    width: 80px;
    height: 80px;
}

header .container .nav {
    display: flex;
}

header .container a {
    display: block;
    position: relative;
    padding: 20px;
    color: white;
    font-weight: bold;
}

@media (max-width:767px) {
    header .container a {
        padding: 10px;
    }

}

header .container a::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation);
}

header .container a:hover:after {
    width: 100%;
}

/* todo End Header Section*/
/* todo Start Hero Section*/

.hero-section {
    height: 100vh;
    position: relative;
    background-image: url(/img/home_bg.jpeg);
    background-size: cover;
}

.hero-section::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(4, 2, 2, 0.671);
    ;
}

.hero-section .content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hero-section .content h1 {
    color: white;
    font-size: 40px;
}

@media (max-width:767px) {
    .hero-section .content h1 {
        font-size: 30px;
    }
}

.hero-section .content h1 span {
    color: var(--main-color);
}

.hero-section .content p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .hero-section .content p {
        font-size: 15px;
    }
}

.hero-section .content a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 15px 30px;
    color: white;
    border: 1px solid #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation);
}

.hero-section .content a:hover {
    background-color: var(--main-color);
}

/* todo End Hero Section*/
/* todo Start About Section*/

.about {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #f4f4f4;
}

.about .container {
    display: flex;
    align-items: center;
}

.about .container .text {
    margin-right: 150px;
    max-width: 540px;
}

@media (max-width:991px) {
    .about .container {
        flex-direction: column;
        justify-content: center;
    }

    .about .container .text {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .about .container .text a {
        margin: 30px auto 0;
    }
}

.about .container .text p {
    margin: 0;
    line-height: 1.6;
    color: #9a9a9a;
    font-weight: 500;
}

.about .container .text a {
    display: block;
    width: fit-content;
    margin-top: 30px;
    background-color: rgb(56 56 72);
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}


.about .container .text a:hover {
    background-color: var(--main-color);

}

.about .container img {
    max-width: 450px;
}

@media (max-width:767px) {
    .about .container img {
        width: 100%;
    }
}

/* todo End About Section*/
/* todo Start Special Offers Section*/
.special-offers {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background: url(/img/offer-background.jpg) no-repeat center center fixed;
}

.special-offers .global-heading h2 {
    color: var(--main-color);
}

.special-offers .global-heading p {
    color: #fff;
}

.special-offers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.special-offers .container .box {
    text-align: center;
    color: white;
}

.special-offers .container .box img {
    width: 200px;
}

.special-offers .container .box h2 {
    margin: 13px 0;
}

.special-offers .container .box p {
    font-size: 15px;
    margin-top: 0;
}

.special-offers .box .old {
    text-decoration: line-through;
    margin-right: 10px;
}

.special-offers .box .new {
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
}

/* todo End Special Offers Section*/
/* todo Start Special Menu Section*/
.special-menu {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-background-section);
}

.special-menu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .special-menu .container {
        flex-direction: column;
    }
}

.special-menu .container .col {
    flex-basis: 45%;
}

.special-menu .container .col .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30PX;
}

@media (max-width:767px) {
    .special-menu .container .col .line {
        flex-direction: column;
    }
}

.special-menu .container .col .line img {
    width: 80px;
    margin-right: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width:767px) {
    .special-menu .container .col .line img {
        margin-right: 0px;
        margin-bottom: 30px;

    }
}


.special-menu .container .col .line .address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed;
}

.special-menu .container .col .line .address h3 {
    margin: 0;
}

.special-menu .container .col .line .address span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}

.special-menu .container .col .description {
    margin-top: 10px;
    font-size: 17px;
}

.special-menu a {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    font-weight: bold;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: background-color var(--main-transation);
    -webkit-transition: background-color var(--main-transation);
    -moz-transition: background-color var(--main-transation);
    -ms-transition: background-color var(--main-transation);
    -o-transition: background-color var(--main-transation);
}

.special-menu a:hover {
    background-color: rgb(56 56 72);
}

/* todo End Special Menu Section*/
/* todo Start Time Work  Section*/
.time-work {
    background: url(/img/daytime_bg.jpeg) no-repeat center center / cover fixed;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.time-work .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

@media (max-width:767px) {
    .time-work .container {
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .time-work .container .line {
        margin-bottom: 30px;
    }
}

.time-work .container .line h2 {
    font-size: 30px;
    margin: 10px 0;
}



/* todo End Time Work  Section*/
/* todo Start Food Gallery Section*/
.food-gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background: url(/img/offer-background.jpg) center center no-repeat fixed;
}

.food-gallery .global-heading h2 {
    color: white;
}

.food-gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.food-gallery .container .img {
    overflow: hidden;

}

.food-gallery .container img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform var(--main-transation);
    -webkit-transition: transform var(--main-transation);
    -moz-transition: transform var(--main-transation);
    -ms-transition: transform var(--main-transation);
    -o-transition: transform var(--main-transation);
}

.food-gallery .container img:hover {
    transform: rotate(8deg) scale(1.2);
    -webkit-transform: rotate(8deg) scale(1.2);
    -moz-transform: rotate(8deg) scale(1.2);
    -ms-transform: rotate(8deg) scale(1.2);
    -o-transform: rotate(8deg) scale(1.2);
}

/* todo End Food Gallery Section*/
/* todo Start Contact Section*/
.contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--main-background-section);
}

.contact .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:991px) {
    .contact .container {
        flex-direction: column;
    }
}

.contact .container .contact-info {
    width: 40%;
}

@media (max-width:991px) {
    .contact .container .contact-info {
        text-align: center;
        width: 100%;
    }
}

.contact .container .contact-info .box:not(:last-child) {
    margin-bottom: 30px;
}

.contact .container .contact-info .box h3 {
    font-size: 30px;
    margin: 15px 0;
    color: #383848;
}

.contact .container .contact-info .box p {
    margin: 10px 0 0;
    color: #9a9a9a;
}



.contact .container .contact-info .box.address p i {
    margin-right: 5px;
    color: var(--main-color);
}

.contact .container .contact-info .box a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #383848;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all var(--main-transation);
    -webkit-transition: all var(--main-transation);
    -moz-transition: all var(--main-transation);
    -ms-transition: all var(--main-transation);
    -o-transition: all var(--main-transation);
}

.contact .container .contact-info .box a:hover {
    background-color: var(--main-color);
    color: black;
}

.contact .container form {
    width: 50%;
}


@media (max-width:991px) {
    .contact .container form {
        width: 100%;
    }
}

.contact .container form input,
textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
    color: black;
}

.contact .container form input,
textarea:focus {
    outline: none;
}

.contact .container form input[type="button"] {
    width: fit-content;
    padding: 15px 30px;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transation);
    -webkit-transition: var(--main-transation);
    -moz-transition: var(--main-transation);
    -ms-transition: var(--main-transation);
    -o-transition: var(--main-transation);
}

.contact .container form input[type="button"]:hover {
    background-color: #383848;
}

/* todo End Contact Section*/
/* todo Start Footer Section*/
footer p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    background-color: #383848;
    color: white;
    text-transform: capitalize;
}

footer p span {
    color: var(--main-color);
    font-weight: bold;

}

/* todo End Footer Section*/